<div class="background"></div>
<div id="particles">
  <div id="intro">

    <div class="form-login">
      <div class="form-login-header">
        <a class="form-login-brand" href="/">SIGS</a>
        <h1 class="form-title">Login</h1>
      </div>
      <%= form_for :session, url: login_path, html: {class:"rails-login"} do |f| %>
        <%= f.email_field :email, autofocus: true, class: "input-field", placeholder: "Usuário"  %>
        <div>
          <%= f.password_field :password, autocomplete: "off", class: "input-field", id: "password-field", placeholder: "Senha" %>
          <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
        </div>
        <%= f.submit "Entrar", class: "button-success" %>
      <% end %>
      <div class="form-login-footer">
        <%= link_to "Solicitar Cadastro", user_new_path, class: "cadastro" %>
        <%= image_tag "/assets/unb_logo.png", class: "image_sigs" %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".toggle-password").click(function() {

    $(this).toggleClass("fa-eye fa-eye-slash");
    var input = $($(this).attr("toggle"));
    if (input.attr("type") == "password") {
      input.attr("type", "text");
    } else {
      input.attr("type", "password");
    }
  });
</script>

<style type="text/css">
.myContainer input[type="text"], .myContainer input[type="password"], .myContainer select{
  margin-bottom: -1px;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  margin-right: 10px;
  position: relative;
  z-index: 2;
}
</style>