<%= stylesheet_link_tag "/assets/stylesheets/rooms-filter.scss" %>
<div class="overflow-table">
  <table class="table">

    <tr>
      <%= form_tag(room_index_post_path, :method => :post) do %>
        <td>
          <%= label_tag("Nome") %>
          <%= text_field_tag 'name', @filter[:name_selected], placeholder: 'Digite o nome da sala...', size: '40', class: 'form-control name-filter' %>
        </td>
        <td>
          <%= label_tag("Código") %>
          <%= text_field_tag 'code', @filter[:code_selected], placeholder: 'Digite o código da sala...', size: '25', class: 'form-control code-filter' %>
        </td>
        <td>
          <%= label_tag("Capacidade") %>
          <%= number_field_tag 'capacity', @filter[:capacity_selected], placeholder: 'Insira a quantidade...', size: '500', class: 'form-control capacity-filter' %>
        </td>
        <td></td>
      <% end %>
    </tr>

    <tr>
      <td>
        <%= label_tag("Ala") %>
        <% itens = [["NORTE"], ["CENTRAL"], ["SUL"]] %>
        <% if @filter[:wing_selected] == ""%>
          <%= select_tag 'wing', options_for_select(itens, " "), include_blank: true, class: 'select-filter' %>
        <% else %>
          <%= select_tag 'wing', options_for_select(itens, @filter[:wing_selected]), include_blank: true, class: 'select-filter'  %>
        <% end %>
      </td>
      <td>
        <%= label_tag("Prédio") %>
        <% if @filter[:building_selected] == nil%>
          <%= select_tag 'building_id', options_for_select(@buildings.map{ |building| [building.name, building.id, { 'data-wing' => building.wing }] }), include_blank: true, class: 'select-filter' %>
        <% else %>
          <%= select_tag 'building_id', options_for_select(@buildings.map{ |building| [building.name, building.id, { 'data-wing' => building.wing }] }, selected: @filter[:building_selected].id), include_blank: true, class: 'select-filter' %>
        <% end %>
      </td>
      <td>
        <%= label_tag("Departamento") %>
        <% if @filter[:department_selected] == nil%>
          <% if @user_department == nil %>
            <%= select_tag 'department_id', options_for_select(@department.map{ |department| [department.name, department.id, { 'data-campus' => department.campus.name } ]}), include_blank: true, class: 'select-filter' %>
          <% else %>
            <%= select_tag 'department_id', options_for_select(@department.map{ |department| [department.name, department.id, { 'data-campus' => department.campus.name } ]}, selected: @user_department.id), include_blank: true, class: 'select-filter' %>
          <% end %>
        <% else %>
          <%= select_tag 'department_id', options_for_select(@department.map{ |department| [department.name, department.id, { 'data-campus' => department.campus.name }] }, selected: @filter[:department_selected].id), include_blank: true, class: 'select-filter' %>
        <% end %>
      </td>
      <td>
      <%= label_tag("Campus") %>
        <% if @filter[:campus_selected] == nil%>
          <%= select_tag 'campus_id', options_for_select(@campi.map{ |campus| [campus.name, campus.id] }), include_blank: true, class: 'select-filter' %>
        <% else %>
          <%= select_tag 'campus_id', options_for_select(@campi.map{ |campus| [campus.name, campus.id] }, @filter[:campus_selected].id), include_blank: true, class: 'select-filter' %>
        <% end %>
      </td>
    </tr>

    <tr>
      <td>
        <br>
        <%= button_tag(type: 'submit', class: "btn btn-success") do %>
          <span class="fa fa-search"></span> Pesquisar
        <% end %>
      </td>
      <td></td>
      <td></td>
      <td>
        <br>
        <%= link_to room_index_path, class: "btn btn-primary pull-right btn-delete" do %>
          <span class="fa fa-eraser"></span> Limpar Filtros
        <% end %>
      </td>
    </tr>

  </table>

</div>

<p>
  <b>Funcionamento:&nbsp;</b>
  <%= label_tag(:id_all , "Todas") %>
  <%= radio_button_tag(:room_status_filter, "all", true, :id => "id_all") %>
  <%= label_tag(:id_active, "Ativa") %>
  <%= radio_button_tag(:room_status_filter, "active", false, :id => "id_active") %>
  <%= label_tag(:id_inactive, "Inativa") %>
  <%= radio_button_tag(:room_status_filter, "inactive", false, :id => "id_inactive") %>
</p>