<h1>Salas</h1>

<%= render 'rooms/rooms_filter' %>

<% if @rooms.count == 0 %>
  <h3>Nenhuma sala encontrada.</h3>
<% else %>
  <div class="overflow-table">
    <table class="table rooms">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>Ativo</th>
          <th>Prédio</th>
          <th>Quantidade</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="show_room">

        <%= will_paginate @rooms, renderer: BootstrapPagination::Rails %>

        <% @rooms.each do |room| %>
        <tr>
              <td data-link="<%= room_path(room.id) %> id="<%=((room.active) ? 'active' : 'inactive')%>" ><%= room.code %></td>
              <td data-link="<%= room_path(room.id) %> id="<%=((room.active) ? 'active' : 'inactive')%>" ><%= room.name %></td>
              <td  data-link="<%= room_path(room.id) %> id="<%=((room.active) ? 'active' : 'inactive')%>" id="room-status"><%=  ((room.active) ? 'Sim' : 'Não')  %></td>
              <td data-link="<%= room_path(room.id) %> id="<%=((room.active) ? 'active' : 'inactive')%>" ><%= room.building.name %></td>
              <td data-link="<%= room_path(room.id) %> id="<%=((room.active) ? 'active' : 'inactive')%>" ><%= room.capacity %></td>
              <td>
                <div class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fas fa-ellipsis-v icon"></i>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    <% if permission[:level] != 0 %>
                      <li>
                        <%= link_to room_edit_path(room.id), :id => 'Icon edit' do %>
                          Editar
                        <% end %>
                      </li>
                    <% end %>
                    <li class="divider"></li>
                      <li>
                        <%= link_to 'Deletar', destroy_room_path(room.id), data: {confirm: "Esta ação não poderá mais ser desfeita. Tem certeza que deseja continuar?"}%>
                      </li>
                  </ul>
                </div>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%= will_paginate @rooms, renderer: BootstrapPagination::Rails %>


<script>

  $("td[data-link]").click(function() {
    event.stopPropagation();
    window.location = $(this).data("link")
  })

</script>
